<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Down The Shore</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        });
    </script> 
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
    <body>
        <div class="container-fluid">
            <div class="row" id="main-header">
                <h1>down the shore</h1>
            </div>
            <div class="row main-content">
                <div class="col-sm-3">
                    <ul id="main-menu">
                        <li>
                            <a href="/">
                                <h2>Home</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/photos">
                                <h2>Photos</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/guestbook">
                                <h2>Guestbook</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/reservation">
                                <h2>Reservation</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <h2>Contact</h2>
                            </a>
                        </li>
                    </ul>
                </div> 
        {{{ body }}}
            </div>
        </div>
        <footer>
            <span id="glyph" class="glyphicon glyphicon-sunglasses white"></span>
        </footer>
    </body>
    <script type="text/javascript" src="js/logic.js"></script>
</html>