<div class="col-sm-8" id="contactStyles">
	<div id="contactDisplay">
		<h2><center> Send us a message</center></h2>
		</div>
	<div id="contactInfo center">
		<ul>
			
			<h3><center>Austin.Roberts72@yahoo.com</center></h3>
			<center><a href="https://github.com/JohnAustinRoberts/DownTheShore2" id="gitLink">Github Repo</center></a>
		</ul>	
	</div>
</div>	   