	<div class="jumbotron col-sm-8" id="contactStyles">
		<div id="contactDisplay">
			<h1>Contact Us!</h1>				
		</div>
		<div id="contactInfo">
			<ul>
				<li>
					<a href="https://github.com/JohnAustinRoberts/DownTheShore2" id="gitLink">Github Repo</a>
				</li>
				<li>
					<h2>Email: Austin.Roberts72@yahoo.com</h2>
				</li>
			</ul>	
		</div>
	</div>		    